<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="app">
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="js/script.js"></script>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="SeguroController">
    <ng-include src="'cabecera.html'"></ng-include>
        <form>
            <fieldset>
                <legend>
                    Seguro Médico
                </legend>
                <label for="nif">NIF: </label><input id="nif" name="nif" type="text" ng-model="seguro.nif"/><br>
                <label for="nombre">Nombre: </label><input id="nombre" name="nombre" type="text" ng-model="seguro.nombre"/><br>
                <label for="apellido">Apellido: </label><input id="apellido" name="apellido" type="text" ng-model="seguro.apellido"/><br>
                <label for="edad">Edad: </label><input id="edad" name="edad" type="text" ng-model="seguro.edad"/><br>
                <label for="sexo">Sexo: </label><select id="sexo" name="sexo" type="checkbox" ng-model="seguro.sexo" ng-options="sexo.codSex as sexo.descripcion for sexo in sexos"/><option value="">--</option></select><br>
                <label for="edoCivil">Estado Civil: </label><input id="edoCivil" name="edoCivil" type="checkbox" ng-model="seguro.edoCivil"/><br>
                <label for="numHijos">Número Hijos: </label><input id="numHijos" name="numHijos" type="text" ng-model="seguro.numHijos"/><br>
                <label for="embarazada" ng-show="seguro.sexo === 'F'">Embarazada: </label><input id="embarazada" name="embarazada" type="checkbox" ng-model="seguro.embarazada" ng-show="seguro.sexo === 'F'"/><br>
                <label for="fechaCrea">Fecha de Cración: </label><input id="fechaCrea" name="fechaCrea" type="text" ng-model="seguro.fechaCrea"/><br>
            </fieldset>
            <fieldset>
                <legend>
                    Coberturas
                </legend>
                <label for="oftalmologia">Oftalmología: </label><input id="oftalmologia" name="oftalmologia" type="checkbox" ng-model="seguro.cobertura.oftalmologia"/><br>
                <label for="dental">Dental: </label><input id="dental" name="dental" type="checkbox" ng-model="seguro.cobertura.dental"/><br>
                <label for="fecundaInvitro" ng-show="seguro.sexo === 'F'">Fecundación Invitro: </label><input id="fecundaInvitro" name="fecundaInvitro" type="checkbox" ng-model="seguro.cobertura.fecundaInvitro" ng-show="seguro.sexo === 'F'"/><br>
            </fieldset>
            <fieldset>
                <legend>
                    Enfermedades
                </legend>
                <label for="corazon">Corazon: </label><input id="corazon" name="corazon" type="checkbox" ng-model="seguro.enfermedades.corazon"/><br>
                <label for="estomacal">Estomacal: </label><input id="estomacal" name="estomacal" type="checkbox" ng-model="seguro.enfermedades.estomacal"/><br>
                <label for="rinon">Riñones: </label><input id="rinon" name="rinon" type="checkbox" ng-model="seguro.enfermedades.rinon"/><br>
                <label for="alergia">Alergia: </label><input id="alergia" name="alergia" type="checkbox" ng-model="seguro.enfermedades.alergia"/><br>
                <label for="nomAlergia">Nombre de Alergia: </label><input ng-disabled="deshabilitarAlergia()" id="nomAlergia" name="nomAlergia" type="text" ng-model="seguro.enfermedades.nomAlergia"/><br>
            </fieldset>            
        </form>
    </body>
</html>
